@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --basic-white: #ffffff;
  --special-elements: #eeeeee;
  --icons-social: #e1e1e1;

  --text-big: #000000;
  --text-small: #283136;
  --text-buttons: #ffffff;
  --text-prompt: #444444;
  --text-contacts: #666666;

  --range-grey: #d7dcde;
  --range-toggle-grey: #ababab;

  --black-rgb: 0, 0, 0;
  --black: #000000;

  --dark-grey: #4d4d4d;
  --grey-dark-rgb: 68, 68, 68;
  --grey--dark-l: #4d4d4d;

  --button-red: #f8565a;
  --button-red-hover: #e74246;
  --button-red-focus: #d7373b;
  --button-green: #00ca74;
  --button-green-hover: #00bc6c;
  --button-green-focus: #00aa62;
  --button-yellow: #efc849;
  --button-yellow-hover: #eab534;
  --button-yellow-focus: #e5a722;
  --button-focus-text: rgba(255, 255, 255, 0.3);
  --button-close: rgba(251, 86, 90, 0.3);
  --button-slider-circle: #c1c1c1;
  --button-filter: #eeeeee;
  --button-filter-hover: #dfdfdf;
  --button-filter-focus: #d5d5d5;
  --border-pagination-button: #dbdbdb;
  --shadow-button-filter: rgba(0, 1, 1, 0.1);

  --grey-modal-hover: #b4b9bb;

  --background-svg: #a6a6a6;
  --form-border: #d7d7d7;
  --icon-cart: #a6a6a6;
  --text-placeholder: #444444;
  --shadow-img-template: rgba(0, 1, 1, 0.25);
  --opacity-color: rgba(0, 0, 0, 0.3);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.center {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  background-color: var(--basic-white);
  font-family: "Roboto", "Courier New", Courier, monospace;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  position: relative;
}

a {
  text-decoration: none;
}

.button {
  color: var(--basic-white);
  display: block;
  text-align: center;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  padding: 17px 0 15px;
  width: 160px;
  border: none;
  border-radius: 3px;
}

.button--red {
  background-color: var(--button-red);
}

.button--red:hover {
  background-color: var(--button-red-hover);
}

.button--red:focus {
  background-color: var(--button-red-focus);
  mix-blend-mode: normal;
  color: var(--button-focus-text);
}

.button--green {
  background-color: var(--button-green);
}

.button--green:hover {
  background-color: var(--button-green-hover);
}

.button--green:focus {
  background-color: var(--button-green-focus);
  mix-blend-mode: normal;
  color: var(--button-focus-text);
}

.button--yellow {
  background-color: var(--button-yellow);
}

.button--yellow:hover {
  background-color: var(--button-yellow-hover);
}

.button--yellow:focus {
  background-color: var(--button-yellow-focus);
  mix-blend-mode: normal;
  color: var(--button-focus-text);
}

.button--grey {
  color: var(--text-big);
}

.button--grey:hover {
  background-color: var(--button-filter-hover);
  color: var(--text-big);
}

.button--grey:focus {
  background-color: var(--button-filter-focus);
  color: var(--text-big);
  mix-blend-mode: normal;
  opacity: 0.3;
  box-shadow: inset 0px 3px 0px var(--shadow-button-filter);
}

/* HEADER */

.header {
  background-color: var(--special-elements);
}

.navigation__logo[href]:hover {
  opacity: 0.7;
}
.navigation__logo[href]:active {
  opacity: 0.3;
}

.navigation__logo {
  margin-top: 49px;
  margin-bottom: 5px;
}

.navigation__logo img {
  width: 160px;
  height: 65px;
}

.navigation {
  @extend .center;
  display: grid;
  grid-template-columns: 160px 1fr 115px;
  column-gap: 40px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
}

.navigation__menu {
  display: flex;
  flex-wrap: wrap;
  width: 437px;
  margin: 0px 0px 0px 163px;
  padding: 66px 0px 5px 0px;
  list-style: none;
}

.navigation__menu-item {
  padding: 9px 45px 9px 0;
}

.navigation__menu-item--current a {
  position: relative;
}

.navigation__menu-item--current a::after {
  position: absolute;
  content: "";
  width: 73px;
  height: 2px;
  background-color: var(--button-red);
  transform: translate(-73px, 43px);
}

.navigation__menu-item:last-child {
  padding-right: 0;
}

.navigation__menu-item a {
  color: var(--text-big);
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.navigation__menu-item a:hover,
.cart:hover {
  color: var(--button-red);
}

.navigation__menu-item a:active,
.cart:active {
  color: var(--opacity-color);
}

.cart {
  justify-self: end;
  display: block;
  padding-left: 40px;
  margin-top: 75px;
  margin-bottom: 29px;
  position: relative;
  color: var(--text-big);
  font-weight: 500;
  line-height: 30px;
}

.cart::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 7px;
  right: 100px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
}

.slider {
  background-color: var(--special-elements);
  margin-bottom: 80px;
}

.slider__wrapper {
  @extend .center;
  position: relative;
  height: 411px;
}

.slider__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-item {
  width: 1160px;
  padding-top: 59px;
  padding-bottom: 80px;
  display: none;
  position: absolute;
  background-position: top -19px right 2px;
  background-repeat: no-repeat;
}

.slider-item--active {
  display: block;
}

.slider-item__slogan {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin: 0;
  margin-bottom: 25px;
  color: var(--accent-color);
}

.slider-item--smartphone {
  background-image: url("../img/slide-smartphone.png");
}

.slider-item--computer {
  background-image: url("../img/slide-computer.png");
}

.slider-item--gadget {
  background-image: url("../img/slide-gadget.png");
}

.slider-item__text {
  line-height: 24px;
  margin: 0;
  margin-bottom: 38px;
}

.slider__list .button {
  width: 240px;
}

.slider-paging {
  position: absolute;
  bottom: 96px;
  right: 545px;
  z-index: 2;
  width: 88px;
  display: flex;
  justify-content: space-between;
}

.slider__button {
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}

.slider__button--current {
  cursor: default;
}

.slider__button--current::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: transparent;
  border: 2px solid var(--button-slider-circle);
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  bottom: 3px;
  right: 3px;
}

.offers {
  @extend .center;
  margin-top: 80px;
}

.offers__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  list-style: none;
  padding: 0px 0px 80px 0px;
  margin: 0px;
  border-bottom: 2px solid var(--special-elements);
}

.offers-item {
  display: flex;
  flex-direction: column;
}

.offers-item__title {
  color: var(--text-big);
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 16px;
  order: 2;
}

.offers-item__text {
  line-height: 24px;
  color: var(--text-big);
  margin: 0;
  margin-bottom: 32px;
  order: 3;
}

.offers-item__img {
  display: block;
  width: 300px;
  height: 146px;
  margin-bottom: 25px;
}

.offers-item .button {
  order: 3;
}

.description {
  @extend .center;
  margin-bottom: 49px;
  position: relative;
}

.description__wrapper {
  display: grid;
  grid-template-columns: 1fr 360px;
  column-gap: 40px;
}

.description__about {
  padding-top: 75px;
}

.description__about-slogan {
  color: var(--text-big);
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  margin-bottom: 33px;
}

.description__about-text {
  margin: 0;
  margin-bottom: 41px;
  line-height: 24px;
  color: var(--text-small);
}

.description__advantages {
  color: var(--text-small);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 23px;
}

.description__advantages-list {
  line-height: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.description__item {
  position: relative;
  padding-left: 36px;
  margin-bottom: 24px;
}

.description__item::before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: var(--button-red);
  position: absolute;
  left: 0;
  top: 10px;
}

.benefits {
  padding-top: 286px;
  background-image: url(../img/nerds-illustration.png);
  background-repeat: no-repeat;
  background-position: 0 39px;
}

.benefits__quality {
  color: var(--text-big);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 31px;
}

.benefits__quality-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.benefits__item {
  margin-right: 22px;
  width: 98px;
}

.benefits__item:nth-child(3) {
  width: 112px;
  margin-right: 0;
}

.benefits__text {
  color: var(--text-small);
  margin: 0;
  line-height: 18px;
}

.benefits__percent {
  color: var(--text-big);
  margin: 0;
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  position: relative;
  width: 78px;
  height: 64px;
  margin-bottom: 11px;
}

.benefits__percent::before {
  content: "%";
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  position: absolute;
  top: 4px;
  left: 78px;
  width: 20px;
  height: 40px;
}

.benefits__item:nth-child(3) .benefits__percent::before {
  left: 52px;
}

.partners {
  @extend .center;
  margin-bottom: 84px;
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.partners__list::before,
.partners__list::after {
  content: "";
  width: 1158px;
  height: 2px;
  background-color: var(--special-elements);
  position: absolute;
  bottom: -4px;
}

.partners__list::after {
  top: 0px;
}

.partners__list-item {
  width: 260px;
  height: 100%;
  min-height: 180px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.partners__list a {
  opacity: 0.2;
}

.partners__list a:hover, a:focus {
  opacity: 1;
}

.partners__list-item:nth-child(1) {
  padding-bottom: 49px;
  padding-top: 63px;
}

.partners__list-item:nth-child(4) {
  padding-bottom: 44px;
  padding-top: 52px;
}

.partners__list-item:not(:nth-child(4n))::after {
  content: "";
  width: 2px;
  height: 52px;
  background-color: var(--special-elements);
  position: absolute;
  left: 280px;
}

.partners__academy {
  width: 199px;
  height: 68px;
  background-image: url(../img/htmlacademy.svg);
}

.partners__borodinski {
  width: 209px;
  height: 90px;
  background-image: url(../img/borodinski.svg);
}

.partners__pink {
  width: 185px;
  height: 52px;
  background-image: url(../img/pink.svg);
}

.partners__mishka {
  width: 173px;
  height: 84px;
  background-image: url(../img/mishka.svg);
}

.map-and-contacts {
  position: relative;
  height: 416px;
}

.map {
  height: 416px;
  width: 100%;
  border: none;
}

.map__img {
  width: 100%;
  height: 100%;
}

.contacts {
  width: 319px;
  height: 308px;
  box-sizing: border-box;
  padding: 48px 50px;
  background-color: var(--basic-white);
  position: absolute;
  top: 54px;
  left: 140px;
}

.contacts__title {
  color: var(--text-big);
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 23px;
}

.contacts__address,
.contacts__phone {
  font-size: 16px;
  line-height: 18px;
  color: var(--text-contacts);
  margin-bottom: 18px;
}

.contacts .button {
  width: 219px;
  margin-top: 38px;
}

.socials {
  @extend .center;
  padding-top: 68px;
  padding-bottom: 58px;
}

.socials__wrapper {
  display: grid;
  grid-template-columns: 260px 1fr;
  column-gap: 40px;
}

.socials__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.socials-item {
  width: 81px;
  padding-bottom: 10px;
}

.socials-item__link {
  background-color: var(--icons-social);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  box-sizing: border-box;
  border-radius: 50%;
}

.socials-item__link:hover {
  background-color: var(--button-red-hover);
}

.socials-item__vk {
  width: 27px;
  height: 15px;
}

.socials-item__fb {
  width: 12px;
  height: 22px;
}

.socials-item__inst {
  width: 21px;
  height: 21px;
}

.socials-promo {
  padding-top: 7px;
  padding-left: 100px;
}

.socials-promo__text {
  color: var(--text-big);
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 10px;
}

.socials-promo__discount {
  color: var(--text-prompt);
  line-height: 22px;
  margin: 0;
}

.modal {
  width: 960px;
  height: 590px;
  padding: 63px 100px 84px;
  background-color: var(--basic-white);
  box-shadow: 0px 20px 40px rgba(var(--black-rgb), 0.4);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-bottom: 180px;
  z-index: 3;
  position: fixed;
  margin: auto;
  box-sizing: border-box;
  display: none;
}

.modal__tittle {
  margin: 0;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  margin-bottom: 37px;
  position: relative;
}

.close__button {
  background-image: url(../img/modal-close.svg);
  width: 21px;
  height: 21px;
  right: 90px;
  top: 78px;
  opacity: 0.3;
  cursor: pointer;
  border: none;
  background-repeat: no-repeat;
  position: absolute;
  background-color: transparent;
}

.close__button:hover {
  opacity: 1;
}

.close__button:active {
  opacity: 0.1;
  outline: none;
}

.form__data {
  width: 760px;
  margin-bottom: 37px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form__input {
  margin: 0;
  width: 360px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.item-letter {
  width: 760px;
  padding-top: 24px;
}

.form__input label {
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 9px;
}

.form__input input,
.form__input textarea {
  font: inherit;
  line-height: 18px;
  border: 2px solid var(--range-grey);
  box-sizing: border-box;
  width: 360px;
  height: 50px;
  padding: 16px 14px 16px 16px;
}

.form__input textarea {
  width: 760px;
  height: 118px;
  padding-top: 15px;
  resize: none;
}

.form__input input::placeholder,
.form__input textarea::placeholder {
  color: rgba(var(--grey-dark-rgb), 0.5);
}

.form__input input:hover,
.form__input textarea:hover {
  border-color: var(--grey-modal-hover);
}

.form__input input:focus,
.form__input textarea:hover:focus {
  border-color: var(--black);
}

.form__input input:focus::placeholder,
.form__input textarea:focus::placeholder {
  color: rgba(var(--grey-dark-rgb), 1);
}

.form__input input:invalid {
  border-color: var(--button-red-hover);
}

.form__input input:invalid::placeholder {
  color: var(--button-red-hover);
}

.button--modal {
  width: 259px;
}

.title {
  background-color: var(--special-elements);
  text-align: center;
  margin-bottom: 55px;
  padding-top: 58px;
  padding-bottom: 108px;
  display: grid;
  justify-content: center;
}

.title-text {
  @extend .center;
  color: var(--text-big);
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
}

.filters-catalog {
  @extend .center;
  display: grid;
  grid-template-columns: 260px 1fr;
  column-gap: 140px;
  margin-bottom: 50px;
}

.filters {
  width: 260px;
}

.filters__form fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.filters-price {
  text-transform: uppercase;
}

.filters-price legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 48px;
}

.filters-price__range {
  padding-bottom: 54px;
}

.filters-price__range:nth-child(2) label {
  width: 115px;
  display: flex;
  align-items: center;
}

.filters-price__controls {
  width: 260px;
}

.filters-price__controls:nth-child(1) {
  margin-bottom: 14px;
  height: 80px;
  border-radius: 3px;
  background-color: var(--special-elements);
  padding: 39px 22px;
  box-sizing: border-box;
  position: relative;
}

.filters-controls__range {
  height: 2px;
  background: var(--range-grey);
}

.range-bar {
  margin-left: 0;
  width: 69%;
  height: 2px;
  background: var(--button-green);
}

.filters-price__controls:nth-child(1) .toggle {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--range-toggle-grey);
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(var(--black-rgb), 0.15);
  cursor: pointer;
}

.filters-price__controls input {
  font: inherit;
  text-align: center;
  background-color: var(--special-elements);
  width: 80px;
  height: 38px;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  margin-left: 11px;
}

.filters-price__controls:nth-child(2) {
  line-height: 22px;
  display: flex;
  justify-content: space-between;
}

.filters-price__label {
  width: 115px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.filters-grid legend,
.filters-features legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.grid__list {
  margin: 0;
  padding: 0 0 47px 0;
  list-style: none;
}

.grid-item {
  line-height: 19px;
  color: var(--text-small);
}

.grid-item label {
  position: relative;
  display: block;
  cursor: pointer;
  margin-left: 36px;
}

.grid-item:not(:last-child) {
  margin-bottom: 20px;
}

.grid-input__input:not(:checked) + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -36px;
  width: 25px;
  height: 25px;
  background-color: var(--basic-white);
  border: 4px solid var(--grey--dark-l);
  border-radius: 50%;
  box-sizing: border-box;
  opacity: 0.4;
}

.grid-input__input:checked + label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -36px;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-checked.svg);
  background-repeat: no-repeat;
  opacity: 0.4;
}

.features__list {
  margin: 0;
  padding: 0 0 50px 0;
  list-style: none;
}

.features-item {
  line-height: 19px;
  color: var(--text-small);
}

.features-item:not(:last-child) {
  margin-bottom: 21px;
}

.features-item label {
  position: relative;
  display: block;
  cursor: pointer;
  margin-left: 36px;
}

.features-item__input:not(:checked) + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -36px;
  width: 23px;
  height: 23px;
  background-color: var(--basic-white);
  border: 2px solid var(--grey--dark-l);
  border-radius: 3px;
  box-sizing: border-box;
  opacity: 0.4;
}

.features-item__input:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -36px;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-checked.svg);
  background-repeat: no-repeat;
  opacity: 0.4;
}

.features-item__input:hover + label::after,
.features-item__input:hover + label::before,
.grid-input__input:hover + label::after,
.grid-input__input:hover + label::before {
  opacity: 1;
}

.features-item__input:disabled + label::after,
.features-item__input:disabled + label::before,
.grid-input__input:disabled + label::after,
.grid-input__input:disabled + label::before {
  opacity: 0.1;
}

.filters__button {
  display: block;
  width: 260px;
  padding: 17px 89px 15px 88px;
  box-sizing: border-box;
  cursor: pointer;
}

.sorting {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.sorting__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  font-weight: 700;
  width: 360px;
}

.sorting__wrapper {
  width: 360px;
  display: flex;
  padding-top: 6px;
  padding-bottom: 6px;
}

.sorting__list {
  width: 273px;
  padding: 0;
  margin: 0 47px 0 0;
  list-style: none;
}

.sorting__item {
  color: var(--text-big);
  opacity: 0.3;
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
  vertical-align: baseline;
  margin-right: 22px;
}

.sorting__item:last-child {
  margin-right: 0;
}

.sorting__item:not(.current):hover {
  opacity: 0.6;
  cursor: pointer;
}

.sorting__item--current {
  opacity: 1;
}

.sort__icon {
  margin-right: 18px;
  cursor: pointer;
  fill: var(--dark-grey);
  fill-opacity: 0.2;
}

.sort__icon--current {
  cursor: default;
  fill: var(--dark-grey);
  fill-opacity: 1;
}

.sort__icon:not(.sort__icon--current):hover {
  fill: var(--range-toggle-grey);
  fill-opacity: 1;
}

.sort__icon:last-child {
  margin-right: 0;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 23px 0;
  padding: 0;
  list-style: none;
}

.catalog__list li:hover {
  box-shadow: 0px 6px 15px var(--shadow-img-template);
  border-radius: 5px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item {
  width: 360px;
  height: 620px;
  margin-right: 40px;
  margin-bottom: 30px;
  position: relative;
}

.catalog-item__img {
  width: 358px;
  height: 578px;
  border: 1px solid rgba(var(--black-rgb), 0.1);
  border-radius: 0 0 5px 5px;
}

.product-details {
  background-color: var(--special-elements);
  width: 360px;
  min-height: 231px;
  padding: 26px 52px 44px 52px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  display: none;
  overflow: hidden;
  border-radius: 0 0 5px 5px;
}

.catalog-item:hover .product-details {
  display: block;
}

.product-details__buy {
  color: var(--text-big);
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product-details__buy:hover {
  color: var(--button-red);
}

.product-details__buy:focus {
  color: var(--text-big);
  opacity: 0.3;
}

.product-details__text {
  color: var(--text-contacts);
  font-weight: normal;
  line-height: 18px;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  margin: 0 0 32px 0;
}

.product-details {
  .button {
    width: 200px;
  padding: 17px 72px 15px 72px;
  box-sizing: border-box;
  margin: 0 auto;

  }
}

.catalog-item__bar {
  width: 360px;
  height: 40px;
  background-color: var(--dark-grey);
  opacity: 0.12;
  padding: 13px 284px 13px 16px;
  box-sizing: border-box;
  border: 1px solid var(--dark-grey);
  border-radius: 5px 5px 0 0;
}

.points,
.points::after,
.points::before {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--basic-white);
}

.points {
  display: inline-block;
  position: relative;
  left: 22px;
  vertical-align: baseline;
}

.points::after,
.points::before {
  content: "";
  position: absolute;
}

.points::after {
  left: 23px;
}

.points::before {
  right: 23px;
}

.catalog-item:hover .catalog-item__bar {
  opacity: 1;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination__item {
  font-weight: 500;
  line-height: 18px;
  margin-right: 11px;
  margin-bottom: 10px;
}

.pagination__page {
  background-color: var(--button-filter);
  color: var(--text-big);
  display: block;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__page--current {
  background-color: var(--basic-white);
  border: 3px solid var(--border-pagination-button);
}

.pagination__item:last-child .pagination__page {
  width: 260px;
}

.pagination__page:hover {
  background-color: var(--button-filter-hover);
}

.pagination__page:focus {
  background-color: var(--button-filter-focus);
  mix-blend-mode: normal;
  opacity: 0.3;
  box-shadow: inset 0px 3px 0px var(--shadow-button-filter);
}
