@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
      url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
      url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
      url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --basic-white: #ffffff;
  --special-elements: #eeeeee;
  --icons-social: #e1e1e1;

  --text-big: #000000;
  --text-small: #283136;
  --text-buttons: #ffffff;
  --text-prompt: #444444;
  --text-contacts: #666666;
  
  --button-red: #f8565a;
  --button-red-hover: #e74246;
  --button-red-focus: #d7373b;
  --button-green: #00ca74;
  --button-green-hover: #00bc6c;
  --button-green-focus: #00aa62;
  --button-yellow: #efc849;
  --button-yellow-hover: #eab534;
  --button-yellow-focus: #e5a722;
  --button-focus-text: rgba(255, 255, 255, 0.3);
  --button-close: rgba(251, 86, 90, 0.3);
  --button-slider-circle: #c1c1c1;
  --button-filter: #eeeeee;
  --button-filter-hover: #dfdfdf;
  --button-filter-focus: #d5d5d5;
  --border-pagination-button: #dbdbdb;
  --shadow-button-filter: rgba(0, 1, 1, 0.1);
  
  --background-svg: #a6a6a6;
  --form-border: #d7d7d7;
  --icon-cart: #a6a6a6;
  --text-placeholder: #444444;
  --shadow-img-template: rgba(0, 1, 1, 0.25);
  --opacity-color: rgba(0, 0, 0, 0.3);
}

body {
  min-height: 100%;
  font-size: 16px;
  line-height: 24px;
  background-color: var(--basic-white);
  font-family: "Roboto", "Courier New", Courier, monospace;

  display: grid;
  grid-template-rows:
    min-content
    1fr
    min-content;
}

a {
  text-decoration: none;
}

.center {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.button {
  color: var(--basic-white);
  display: block;
  text-align: center;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  padding: 17px 0 15px;
  width: 160px;
}

.button--red {
  background-color: var(--button-red);
}

.button--red:hover {
  background-color: var(--button-red-hover);
}

.button--red:focus {
  background-color: var(--button-red-focus);
  mix-blend-mode: normal;
  color: var(--button-focus-text);
}

.button--green {
  background-color: var(--button-green);
}

.button--green:hover {
  background-color: var(--button-green-hover);
}

.button--green:focus {
  background-color: var(--button-green-focus);
  mix-blend-mode: normal;
  color: var(--button-focus-text);
}

.button--yellow {
  background-color: var(--button-yellow);
}

.button--yellow:hover {
  background-color: var(--button-yellow-hover);
}

.button--yellow:focus {
  background-color: var(--button-yellow-focus);
  mix-blend-mode: normal;
  color: var(--button-focus-text);
}

.button--grey {
  color: var(--text-big);
}

.button--grey:hover {
  background-color: var(--button-filter-hover);
  color: var(--text-big);
}

.button--grey:focus {
  background-color: var(--button-filter-focus);
  color: var(--text-big);
  mix-blend-mode: normal;
  opacity: 0.3;
  box-shadow: inset 0px 3px 0px var(--shadow-button-filter);
}

.main__header {
  background-color: var(--special-elements);
  height: 134px;
}

.main__header-logo[href]:hover {
  opacity: 0.7;
}
.main__header-logo[href]:active {
  opacity: 0.3;
}

.main__header-logo-img {
  width: 160px;
  height: 65px;
}

.navigation {
  display: grid;
  grid-template-columns: 160px 1fr 160px;
  height: 100%;
  align-items: flex-end;
}

.navigation__menu {
  display: flex;
  justify-self: center;
  list-style: none;
  padding: 0;
  margin: 0 0 9px;
}

.navigation__menu-item {
  margin-right: 45px;
}

.navigation__menu-item:last-child {
  margin-right: 0;
}

.navigation__menu-item-link {
  color: var(--text-big);
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.navigation__menu-item-link:hover {
  color: var(--button-red);
}

.navigation__menu-item-link:active  {
  color: var(--opacity-color);
}

.cart {
  margin: 0 0 9px;
  justify-self: flex-end;
}

.slider {
  background-color: var(--special-elements);
}

.slider__list {
  list-style: none;
}

.slider__list-item {
  background-repeat: no-repeat;
  background-position: right 0;
  box-sizing: border-box ;
  height: 431px;
  display: none;
  padding-top: 78px;
}

.slider__list-item.active {
  display: block;
}

.slider__list-item:first-child {
  background-image: url("../img/slider.png");
}
.slider__list-item:nth-child(2) {
  background-image: url("../img/slider.png");
}
.slider__list-item:nth-child(3) {
  background-image: url("../img/slider.png");
}

.slider__list-item-slogan {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--accent-color);
  margin: 0;
}

.slider__list-item-text {
  margin-top: 25px;
  margin-bottom: 38px;
}

.slider__list .button {
  width: 240px;
}

.offers {
  margin-top: 80px;
}

.offers__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  list-style: none;
  padding-bottom: 80px;
  border-bottom: 2px solid var(--special-elements);
}

.offers__list-item {
  width: 300px;
}

.offers__list-item-title {
  color: var(--text-big);
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 25px 0 16px;
}

.offers__list-item-img {
  display: block;
  width: 300px;
  height: 146px;
}

.description__wrapper {
  display: grid;
  grid-template-columns: 1fr min-content;
  margin-top: 39px;
  border-bottom: 2px solid var(--header-bg-color);
  padding-bottom: 49px;
}

.description__slogan {
  color: var(--text-big);
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin-top: 34px;
  margin-bottom: 32px;
}

.description__text {
  color: var(--text-small);
}

.description__advantages {
  color: var(--text-small);
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 23px;
}

.description__advantages-list {
  list-style-image: url("../img/list.svg");
  padding-left: 32px;
  margin: 0;
}

.description__advantages-list-item {
  color: var(--text-small);
  padding-bottom: 24px;
}

.description__logo {
  width: 360px;
  height: 208px;
}

.description__advantages-quality {
  color: var(--text-big);
  font-weight: bold;
  text-transform: uppercase;
  margin: 37px 0 31px;
  text-align: center;
}

.description__advantages-quality-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.quality__list-item-text {
  color: var(--text-small);
  font-size: 16px;
  line-height: 18px;
}

.quality__list-item-numbers {
  grid-row: 1 / 2;
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--text-big);
  margin-left: 0;
  margin-bottom: 10px;
}

.quality__list-item-percent {
  color: var(--text-big);
  font-size: 26px;
  line-height: 40px;
  vertical-align: top;
  position: relative;
  top: 3px;
}

.partners__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 180px;
  align-items: center;
  border-top: 2px solid var(--special-elements);
  border-bottom: 2px solid var(--special-elements);
}

.partners__list-item {
  text-align: center;
}

.partners__list img {
  opacity: 0.2;
}

.partners__list img:hover {
  opacity: 1;
}

.partners__list-item-academy {
  width: 199;
  height: 68;
}

.partners__list-item-borodinski {
  width: 209;
  height: 90;
}

.partners__list-item-pink {
  width: 185;
  height: 52;
}

.partners__list-item-mishka {
  width: 173;
  height: 84;
}

.main__footer {
  margin-top: 80px;
}

.contacts {
  display: grid;
  grid-template-columns: 1fr 1160px 1fr;
}

.map__wrapper {
  grid-area: 1 / 1 / 2 / -1;
  height: 416px;
}

.map__wrapper-img {
  width: 100%;
  height: 100%;
}

.contacts__wrapper {
  grid-area: 1 / 2 / 2 / 3;
  padding: 49px 50px 47px;
  box-sizing: border-box;

  width: 319px;
  background-color: var(--basic-white);

  align-self: center;
}

.contacts__title {
  color: var(--text-big);
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 23px;
}

.contacts__address, .contacts__phone {
  font-size: 16px;
  line-height: 18px;
  color: var(--text-contacts);
  margin-bottom: 18px;
}

.contacts__wrapper .button {
  width: 219px;
  margin-top: 37px;
}

.socials__wrapper {
  display: grid;
  grid-template-columns: 400px 1fr;
  height: 217px;
}

.socials__list {
  display: flex;
  list-style: none;
  width: 260px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  align-items: center;
}

.socials__list-item {
  background-color: var(--icons-social);
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.socials__list-item:hover {
  background-color: var(--button-red-hover);
}
.socials__list-item:active {
  background-color: var(--sociai-active-bg);
}

.socials__list-item-link {
  font-size: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.socials__list-vk {
  background-image: url("../img/vk-icon.svg");
}

.socials__list-fb {
  background-image: url("../img/fb-icon.svg");
}

.socials__list-inst {
  background-image: url("../img/inst-icon.svg");
}

.footer__offer {
  color: var(--text-big);
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  margin-top: 75px;
  margin-bottom: 10px;
}

.footer__discount {
  color: var(--text-prompt);
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

.page__title-wrapper {
  background-color: var(--special-elements);
  text-align: center;
  margin-bottom: 55px;
  padding-top: 58px;
  padding-bottom: 108px;
  display: grid;
  justify-content: center;
}

.page__title-text {
  color: var(--text-big);
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
}

.catalog__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
}

.filter legend {
  color: var(--text-big);
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter__fieldset {
  border: none;
  line-height: 20px;
}

.filter-range-wrapper {
  background-color: var(--special-elements);
  width: 260px;
  height: 80px;
  margin-bottom: 14px;
}

.filter__price-text {
  color: var(--text-small);
  font-weight: normal;
  line-height: 22px;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
}

.filter__price-input {
  color: var(--text-small);
  font-weight: normal;
  line-height: 20px;
  background-color: var(--special-elements);
  width: 80px;
  height: 38px;
  border: none;
}

.sort__selection-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.sort__selection ul {
  list-style: none;
}

.button--sort {
  color:var(--text-big);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 0.3;
}

.button--sort:hover {
  opacity: 0.6;
}

.button--sort.current {
  opacity: 1;
}

.filter__result {
  grid-column: 2 / 4;
}

.filter__result-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter__result-list li:hover {
  box-shadow: 0px 6px 15px var(--shadow-img-template);
  border-radius: 5px;
}

.filter__result-list-item-img {
  width: 359px;
  height: 578px;
}

.filter__result-list-item-details {
  background-color: var(--special-elements);
}

.filter__result-list-item-details-buy {
  color: var(--text-big);
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.filter__result-list-item-details-buy:hover {
  color: var(--button-red);
}

.filter__result-list-item-details-buy:focus {
  color: var(--text-big);
  opacity: 0.3;
}

.filter__result-list-item-details-text {
  color: var(--text-contacts);
  font-weight: normal;
  line-height: 18px;
  text-align: center;
}

.pagination__list {
  list-style: none;
}

.pagination__button-current {
  background-color: var(--basic-white);
  color: var(--text-big);
  border: 3px solid var(--border-pagination-button);
  box-sizing: border-box;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  border-radius: 3px;
}

.pagination__button {
  background-color: var(--button-filter);
  color: var(--text-big);
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  border-radius: 3px;
}

.pagination__button:hover {
  background-color: var(--button-filter-hover);
}

.pagination__button:focus {
  background-color: var(--button-filter-focus);
  mix-blend-mode: normal;
  opacity: 0.3;
  box-shadow: inset 0px 3px 0px var(--shadow-button-filter);
}